body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f3f4f6, #d1d5db);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #4f46e5;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4338ca;
}

#results {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

#weight-guide {
  background: #f9fafb;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 14px;
  color: #444;
}

#weight-guide h3 {
  margin-bottom: 10px;
  color: #333;
}

footer {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}
footer a {
    color: #4a7f9e;
    text-decoration: none; 
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  
  footer a:hover {
    color: orange; 
    transform: translateY(-2px); 
  }
